*{  
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

.navbar{
    background-color: #F9FFCA;
    height: 3rem;
    display: flex;
}

.navLeft{
    width: 55%;
    padding-left: 0.5rem;
    padding-top: 1rem;
}

.navCenter{
    width: 40%;
    display: flex;
    padding-top: 1rem;
}

.btnItem{
    width: 100px;
}

a:hover{
    font-weight:bold;
}


.navRight{
    width: 5%;
    padding-top: 1rem;
}

.content{
    background-color:#CAD1FF;
    height: 34.5rem;
    padding-top: 2rem;
    padding-left: 2rem;
}

.row{
    display: flex;
    margin-bottom: 50px;
    justify-content: space-evenly;
}

.field{
    width: 32%;
    /* background-color: blue; */
    display: flex;
}

.title{
    text-align: center;
    padding-bottom: 5rem;
    font-size: 25pt;
    margin-right: 2rem;
}

label{
    /* background-color: blue; */
    width: 135px;
}

input[type=text], input[type=date],input[type=email],input[type=password],input[type=number],textarea{
    width: 222px;
}

input[type=text], input[type=date],input[type=email],input[type=password],input[type=number]{
    height: 25px;
}



img{
    width: 150px;
    height: 180px;
    object-fit: cover;
}

.container{
    width: 250px;
}